
@media screen and (min-width: 1400px) {
  #main {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  #parent {
    width: 694px;
    height: 171px;
    border: none;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }

  .child1 {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    border-right: 1px solid #f58634;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 50px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child1.active {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    background-color: #f58634;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }

  .child2 {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .icon {
      font-size: 50px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child2.active {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    background-color: #f58634;

    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }
  .child1:hover {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #823700;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }
  }
  .child2:hover {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #823700;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }
  }
  .title {
    color: #010101;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #details-main {
    margin-top: 100px;
  }

  #address-select-card:hover {
    margin-top: 20px;
    width: 519px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #f58634;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .circle {
      position: absolute;
      left: -10px;
      top: -14px;
      height: 30px;
      width: 30px;
      background-color: #f58634;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  #shipping-details-main-shipping {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }
  #shipping-details-main-payment {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }

  #shipping-detail-list {
    display: block;
  }
  #payment-details-list {
    display: block;
  }
  #address-select-card {
    margin-top: 20px;

    position: relative;
    width: 519px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #a6a6a6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .circle {
      position: absolute;
      left: -20px;
      top: -20px;
      height: 40px;
      width: 40px;
      background-color: #f58634;
      border-radius: 50%;
      display: none;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .address {
    color: #2e2e2e;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 190px;
  }

  #payment-details-main {
    width: 691px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  .item-list {
    border-radius: 8px;
    background: #fafafa;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    padding: 30px;
    overflow: scroll;
  }

  #product-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .product-title {
      color: #000;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      width: 300px;
    }
    .price {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 100% */
    }
    img {
      width: 112px;
      height: 85px;
      flex-shrink: 0;
    }
  }

  #product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .item-pricing-details {
    padding: 30px;
  }

  .pricing-details {
    p {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 185.714% */
    }

    .pricing-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .product-detail-footer {
    width: 100%;
    height: 100%;
    padding: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    border-top: 2px solid rgba(182, 182, 182, 0.49);
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;

    .total-amount {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 108.333% */
    }

    .total-amount-value {
      color: #f58634;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 108.333% */
    }
  }

  form {
    width: 519px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  [type="checkbox"],
  [type="radio"] {
    padding: 0;
    height: 20px;
    width: 20px;
    color: red;
    /* accent-color: #F58634; */
  }

  input[type="radio"]:checked {
    border-color: #418803;
  }
  .radio-button {
    width: 49%;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0 16px;
  }

  #coupon-container {
    display: flex;
    gap: 10px;
  }

  .coupon-input {
    width: 375px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
  }

  input::placeholder {
    margin-left: 20px;
  }
  .coupon-button {
    border: none;
    display: flex;
    width: 135px;
    height: 58px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f58634;
    color: var(--Text, #fafafa);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
  }

  #agree-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 550px;
  }

  #buttons-container {
    width: 550px;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    align-items: center;
  }
  .outline-button {
    background-color: #fff;
    outline: none;
    display: flex;
    width: 253px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #f58634;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    border-radius: 8px;
    border: 1px solid #f58634;
  }

  .filled-full-button {
    display: flex;
    width: 535px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #f58634;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    border: none;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
  }
}

/* Small desktop/laptop styles */
@media only screen and (min-width: 992px) and (max-width: 1440px) {
  #main {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  #parent {
    width: 694px;
    height: 171px;
    border: none;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }

  .child1 {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    border-right: 1px solid #f58634;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 50px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child1.active {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    background-color: #f58634;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }

  .child2 {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .icon {
      font-size: 50px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child2.active {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    background-color: #f58634;

    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }
  .child1:hover {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #823700;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }
  }
  .child2:hover {
    width: 347px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #823700;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }
  }
  .title {
    color: #010101;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #details-main {
    margin-top: 100px;
  }

  #address-select-card:hover {
    margin-top: 20px;
    width: 519px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #f58634;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .circle {
      position: absolute;
      left: -10px;
      top: -14px;
      height: 30px;
      width: 30px;
      background-color: #f58634;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  #shipping-details-main-shipping {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }
  #shipping-details-main-payment {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }

  #shipping-detail-list {
    display: block;
  }
  #payment-details-list {
    display: block;
  }
  #address-select-card {
    margin-top: 20px;

    position: relative;
    width: 519px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #a6a6a6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .circle {
      position: absolute;
      left: -20px;
      top: -20px;
      height: 40px;
      width: 40px;
      background-color: #f58634;
      border-radius: 50%;
      display: none;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .address {
    color: #2e2e2e;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 190px;
  }

  #payment-details-main {
    width: 691px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  .item-list {
    border-radius: 8px;
    background: #fafafa;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    padding: 30px;
    overflow: scroll;
  }

  #product-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .product-title {
      color: #000;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      width: 300px;
    }
    .price {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 100% */
    }
    img {
      width: 112px;
      height: 85px;
      flex-shrink: 0;
    }
  }

  #product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .item-pricing-details {
    padding: 30px;
  }

  .pricing-details {
    p {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 185.714% */
    }

    .pricing-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .product-detail-footer {
    width: 100%;
    height: 100%;
    padding: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    border-top: 2px solid rgba(182, 182, 182, 0.49);
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;

    .total-amount {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 108.333% */
    }

    .total-amount-value {
      color: #f58634;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 108.333% */
    }
  }

  form {
    width: 519px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  [type="checkbox"],
  [type="radio"] {
    padding: 0;
    height: 20px;
    width: 20px;
    color: red;
    /* accent-color: #F58634; */
  }

  input[type="radio"]:checked {
    border-color: #418803;
  }
  .radio-button {
    width: 49%;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0 16px;
  }

  #coupon-container {
    display: flex;
    gap: 10px;
  }

  .coupon-input {
    width: 375px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
  }

  input::placeholder {
    margin-left: 20px;
  }
  .coupon-button {
    border: none;
    display: flex;
    width: 135px;
    height: 58px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f58634;
    color: var(--Text, #fafafa);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
  }

  #agree-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 550px;
  }

  #buttons-container {
    width: 550px;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    align-items: center;
  }
  .outline-button {
    background-color: #fff;
    outline: none;
    display: flex;
    width: 253px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #f58634;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    border-radius: 8px;
    border: 1px solid #f58634;
  }

  .filled-full-button {
    display: flex;
    width: 535px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #f58634;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    border: none;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
  }
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #main {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  #parent {
    width: 694px;
    height: 171px;
    border: none;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }

  .child1 {
    width: 50%;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    border-right: 1px solid #f58634;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 50px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child1.active {
    width: 50%;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    background-color: #f58634;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }

  .child2 {
    width: 50%;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .icon {
      font-size: 50px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child2.active {
    width: 50%;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    background-color: #f58634;

    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }
  .child1:hover {
    width: 50%;
    height: 171px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #823700;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }
  }
  .child2:hover {
    width: 50%;
    height: 171px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #823700;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      font-size: 50px;
      color: #fff;
    }
  }
  .title {
    color: #010101;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #address-select-card:hover {
    margin-top: 20px;
    width: 538px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #f58634;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .circle {
      position: absolute;
      left: -10px;
      top: -14px;
      height: 30px;
      width: 30px;
      background-color: #f58634;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  #shipping-details-main-shipping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
  }
  #shipping-details-main-payment {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
  }

  #shipping-detail-list {
    display: block;
  }
  #payment-details-list {
    display: block;
  }
  #address-select-card {
    margin-top: 20px;

    position: relative;
    width: 538px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #a6a6a6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .circle {
      position: absolute;
      left: -20px;
      top: -20px;
      height: 40px;
      width: 40px;
      background-color: #f58634;
      border-radius: 50%;
      display: none;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .address {
    color: #2e2e2e;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 190px;
  }

  #payment-details-main {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .item-list {
    border-radius: 8px;
    background: #fafafa;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    padding: 30px;
    overflow: scroll;
  }

  #product-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .product-title {
      color: #000;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      width: 300px;
    }
    .price {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 100% */
    }
    img {
      width: 112px;
      height: 85px;
      flex-shrink: 0;
    }
  }

  #product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .item-pricing-details {
    padding: 30px;
  }

  .pricing-details {
    p {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 185.714% */
    }

    .pricing-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .product-detail-footer {
    width: 100%;
    height: 100%;
    padding: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    border-top: 2px solid rgba(182, 182, 182, 0.49);
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;

    .total-amount {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 108.333% */
    }

    .total-amount-value {
      color: #f58634;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 108.333% */
    }
  }

  form {
    width: 519px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  [type="checkbox"],
  [type="radio"] {
    padding: 0;
    height: 20px;
    width: 20px;
    color: red;
    /* accent-color: #F58634; */
  }

  input[type="radio"]:checked {
    border-color: #418803;
  }
  .radio-button {
    width: 49%;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0 16px;
  }

  #coupon-container {
    display: flex;
    gap: 10px;
  }

  .coupon-input {
    width: 375px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
  }

  input::placeholder {
    margin-left: 20px;
  }
  .coupon-button {
    border: none;
    display: flex;
    width: 135px;
    height: 58px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f58634;
    color: var(--Text, #fafafa);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
  }

  #agree-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 550px;
  }

  #buttons-container {
    width: 550px;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    align-items: center;
  }
  .outline-button {
    background-color: #fff;
    outline: none;
    display: flex;
    width: 253px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #f58634;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    border-radius: 8px;
    border: 1px solid #f58634;
  }

  .filled-full-button {
    display: flex;
    width: 535px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #f58634;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    border: none;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
  }

}
@media only screen and (max-width: 767px) {
    #main {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
      }
      #parent {
        width: 360px;
        height: 100px;
        border: none;
        border-radius: 0px 0px 0px 0px;
        display: flex;
        flex-direction: row;
      }
    
      .child1 {
        width: 50%;
        height: 60px;
        flex-shrink: 0;
        border-radius: 20px 0px 0px 20px;
        border: 1px solid #f58634;
        border-right: 1px solid #f58634;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
          display: none;
          font-size: 40px;
          color: #000;
        }
    
        .icon.active {
          color: #000;
        }
      }
    
      .child1.active {
        width: 50%;
        height: 60px;
        flex-shrink: 0;
        border-radius: 20px 0px 0px 20px;
        border: 1px solid #f58634;
        background-color: #f58634;
        border-right: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
          color: #ffffff;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .icon {
          display: none;
          font-size: 40px;
          color: #fff;
        }
    
        .icon.active {
          color: #fff;
        }
      }
    
      .child2 {
        width: 50%;
        height: 60px;
        flex-shrink: 0;
        border-radius: 0px 20px 20px 0px;
        border: 1px solid #f58634;
        border-left: none;
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
        .icon {
          display: none;
          font-size: 40px;
          color: #000;
        }
    
        .icon.active {
          color: #000;
        }
      }
    
      .child2.active {
        width: 50%;
        height: 60px;
        flex-shrink: 0;
        border-radius: 0px 20px 20px 0px;
        border: 1px solid #f58634;
        background-color: #f58634;
    
        border-left: none;
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
        .title {
          color: #ffffff;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .icon {
          display: none;
          font-size: 40px;
          color: #fff;
        }
    
        .icon.active {
          color: #fff;
        }
      }
      .child1:hover {
        width: 50%;
        height: 60px;
        flex-shrink: 0;
        border-radius: 20px 0px 0px 20px;
        border: 1px solid #823700;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f58634;
        .title {
          color: #ffffff;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .icon {
          display: none;
          font-size: 40px;
          color: #fff;
        }
      }
      .child2:hover {
        width: 50%;
        height: 60px;
        flex-shrink: 0;
        border-radius: 0px 20px 20px 0px;
        border: 1px solid #823700;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f58634;
        .title {
          color: #ffffff;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .icon {
          display: none;
          font-size: 40px;
          color: #fff;
        }
      }
      .title {
        color: #010101;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    
      #details-main {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
      }
    
      #address-select-card:hover {
        margin-top: 20px;
        width: 357px;
        height: 183px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #f58634;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        .circle {
          position: absolute;
          left: -10px;
          top: -14px;
          height: 30px;
          width: 30px;
          background-color: #f58634;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
    
          i {
            font-size: 20px;
            color: #fff;
          }
        }
      }
    
      #shipping-details-main-shipping {
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

      }
      #shipping-details-main-payment {
        display: none;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
      }
    
      #shipping-detail-list {
        display: block;
      }
      #payment-details-list {
        display: block;
      }
      #address-select-card {
        margin-top: 20px;
        position: relative;
        width: 357px;
        height: 183px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #a6a6a6;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        align-items: flex-start;
        justify-content: center;
        .circle {
          position: absolute;
          left: -20px;
          top: -20px;
          height: 40px;
          width: 40px;
          background-color: #f58634;
          border-radius: 50%;
          display: none;
          justify-content: center;
          align-items: center;
    
          i {
            font-size: 20px;
            color: #fff;
          }
        }
      }
    
      .name {
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    
      .address {
        color: #2e2e2e;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 190px;
      }
    
      #payment-details-main {
        width: 100%;
        height: 86%;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 20px;
      }
    
      .item-list {
        border-radius: 8px;
        background: #fafafa;
        width: 100%;
        height: 300px;
        flex-shrink: 0;
        padding: 30px;
        overflow: scroll;
      }
    
      #product-item {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .product-title {
          color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
        }
        .price {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
           /* 100% */
        }
        img {
          width: 70px;
          height: auto;
          flex-shrink: 0;
      
        }
      }
    
      #product-detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    
      .item-pricing-details {
        padding: 30px;
      }
    
      .pricing-details {
        p {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 185.714% */
        }
    
        .pricing-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    
      .product-detail-footer {
        width: 100%;
        height: 100%;
        padding: 30px;
        flex-shrink: 0;
        border-radius: 8px;
        border-top: 2px solid rgba(182, 182, 182, 0.49);
        background: #f8f8f8;
        display: flex;
        justify-content: space-between;
    
        .total-amount {
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 108.333% */
        }
    
        .total-amount-value {
          color: #f58634;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px; /* 108.333% */
        }
      }
    
      form {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      [type="checkbox"],
      [type="radio"] {
        padding: 0;
        height: 20px;
        width: 20px;
        color: red;
        /* accent-color: #F58634; */
      }
    
      input[type="radio"]:checked {
        border-color: #418803;
      }
      .radio-button {
        width: 33%;
        height: 58px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #808080;
        display: flex;
        align-items: center;
        gap: 13px;
        padding: 0 16px;
      }
    
      #coupon-container {
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    
      .coupon-input {
        width: 68%;
        height: 58px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #808080;
      }
    
      input::placeholder {
        margin-left: 20px;
      }
      .coupon-button {
        order: none;
    display: flex;
    width: 68%;
    height: 58px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f58634;
    color: var(--Text, #fafafa);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: none;
      }
    
      #agree-container {
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
      }
    
      #buttons-container {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }
      .outline-button {
        background-color: #fff;
        outline: none;
        display: flex;
        width: 34%;
        height: 62px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        color: #f58634;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        border-radius: 8px;
        border: 1px solid #f58634;
      }
    
      .filled-full-button {
        display: flex;
        width: 378px;
        height: 62px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #f58634;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        border: none;
        font-weight: 700;
        line-height: 26px;
    
      }
      #order-details-main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  #main {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  #parent {
    width: 360px;
    height: 100px;
    border: none;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }

  .child1 {
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    border-right: 1px solid #f58634;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      display: none;
      font-size: 40px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child1.active {
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #f58634;
    background-color: #f58634;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      display: none;
      font-size: 40px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }

  .child2 {
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .icon {
      display: none;
      font-size: 40px;
      color: #000;
    }

    .icon.active {
      color: #000;
    }
  }

  .child2.active {
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f58634;
    background-color: #f58634;

    border-left: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .title {
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      display: none;
      font-size: 40px;
      color: #fff;
    }

    .icon.active {
      color: #fff;
    }
  }
  .child1:hover {
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #823700;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      display: none;
      font-size: 40px;
      color: #fff;
    }
  }
  .child2:hover {
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #823700;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58634;
    .title {
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .icon {
      display: none;
      font-size: 40px;
      color: #fff;
    }
  }
  .title {
    color: #010101;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #details-main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  #address-select-card:hover {
    margin-top: 20px;
    width: 357px;
    height: 183px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #f58634;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .circle {
      position: absolute;
      left: -10px;
      top: -14px;
      height: 30px;
      width: 30px;
      background-color: #f58634;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  #shipping-details-main-shipping {
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
gap: 40px;

  }
  #shipping-details-main-payment {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  #shipping-detail-list {
    display: block;
  }
  #payment-details-list {
    display: block;
  }
  #address-select-card {
    margin-top: 20px;
    position: relative;
    width: 357px;
    height: 183px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #a6a6a6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    .circle {
      position: absolute;
      left: -20px;
      top: -20px;
      height: 40px;
      width: 40px;
      background-color: #f58634;
      border-radius: 50%;
      display: none;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .address {
    color: #2e2e2e;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 190px;
  }

  #payment-details-main {
    width: 100%;
    height: 86%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  .item-list {
    border-radius: 8px;
    background: #fafafa;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    padding: 30px;
    overflow: scroll;
  }

  #product-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .product-title {
      color: #000;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
width: 100%;
    }
    .price {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
       /* 100% */
    }
    img {
      width: 70px;
      height: auto;
      flex-shrink: 0;
  
    }
  }

  #product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .item-pricing-details {
    padding: 30px;
  }

  .pricing-details {
    p {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 185.714% */
    }

    .pricing-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .product-detail-footer {
    width: 100%;
    height: 100%;
    padding: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    border-top: 2px solid rgba(182, 182, 182, 0.49);
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;

    .total-amount {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 108.333% */
    }

    .total-amount-value {
      color: #f58634;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 108.333% */
    }
  }

  form {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  [type="checkbox"],
  [type="radio"] {
    padding: 0;
    height: 20px;
    width: 20px;
    color: red;
    /* accent-color: #F58634; */
  }

  input[type="radio"]:checked {
    border-color: #418803;
  }
  .radio-button {
    width: 33%;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0 16px;
  }

  #coupon-container {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .coupon-input {
    width: 68%;
    height: 58px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #808080;
  }

  input::placeholder {
    margin-left: 20px;
  }
  .coupon-button {
    order: none;
display: flex;
width: 68%;
height: 58px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 6px;
background: #f58634;
color: var(--Text, #fafafa);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px;
border: none;
  }

  #agree-container {
    display: flex;
align-items: center;
justify-content: center;
gap: 10px;
width: 100%;
  }

  #buttons-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .outline-button {
    background-color: #fff;
    outline: none;
    display: flex;
    width: 34%;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #f58634;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    border-radius: 8px;
    border: 1px solid #f58634;
  }

  .filled-full-button {
    display: flex;
    width: 378px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #f58634;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    border: none;
    font-weight: 700;
    line-height: 26px;

  }
  #order-details-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

}