

@media only screen and (min-width: 1200px) {
#product-detail-wrapper{
    width: 100%;
    /* height: 50vh; */
 
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    
}


#product-images-wrapper{
    height: 100%;
    width: 40vw;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

#big-image {
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 20px;
cursor: zoom-in;

border: 1px solid rgba(0, 0, 0, 0.30);
    padding: 50px;
    img{
        width: 280px;
height: auto;
    }
}
#small-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    height: 100%;

    #image-container{
        width: 80px;
        height:80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        cursor: pointer;
        height: 80px;
        width: 80px;
        opacity: 0.5;
    }

    img:hover{
        cursor: pointer;

        height: 80px;
        width: 80px;
        opacity: 1;
    }
}


#product-data-wrapper{
    height: 100%;
    width: 100%;
    padding-left: 50px;
}

#product-title{
    color:#000;
font-size: 54px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 37.5% */
letter-spacing: 1.92px;
}
#product-text{
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 257.143% */
letter-spacing: 0.42px;
}
#product-desc{
    color:  #000;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 150% */
letter-spacing: 0.72px;
width:731px;
}

.normal{
    color: black;
    opacity: 0.25;
    border-radius: 2px;
}

.checked{
    color: #F58634;
}


#sub-title{
    
    color:#000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    opacity: 0.7;
}

#product-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.price{
    color:#000;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
}

.discounted-price{
    color: #808080;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.48px;
text-decoration:line-through;
}

#counter{
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 157px;
height: 44px;
border-radius: 4px;
i{
    font-size: 26px;
    cursor: pointer;
}
}

.small-btn{
    display: flex;
width: 100px;
border: none;
padding: 10px 10px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FAFAFA;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
border-radius: 4px;
background: #F58634;
}


.tabbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

.detail-row{
    width: 100%;
    height: 40vh;
}

.list-item{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 50px; /* 125% */
}

.list-item-spec{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 30px; /* 125% */
display: flex;
align-items: center;
justify-content: space-between;
width: 90%;
}
.tabbar p{
    cursor: pointer;
    color: #000;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 4.68px;
}

.tabbar p:active{
    cursor: pointer;
    color: #F58634;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.68px;
    border-bottom: 1px solid #F58634;
}
 .tabbar p.active{
    color: #F58634;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.68px;
    border-bottom: 1px solid #F58634;
}


#hover{
    display: flex; align-items: center; gap:10px;
}


.add-to-order-wrapper{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.add-to-order-wrapper i{
    font-size: 60px;
}
.card{
    position: relative;
    width: 400px;
height: 400px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.card .heart{
   
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 44px;
        color: red;
    
}

.card-title{
    color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}

.card img{
    height: 250px;
    width: auto;
}

.price-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.price{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration:line-through;
}

.discount-price{
    color: #F58634;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.card-order-summary{
    position: relative;
    width: 400px;
height: 400px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
padding: 20px;

}
.order-price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-pricing{
    width: 100%;
    height: 30px;
  display: flex;
  justify-content: space-between;
}
.amount{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.recommended-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    /* overflow-x: scroll; */

}
}


@media only screen and (max-width: 1370px) {

    #product-detail-wrapper{
        width: 100%;
        height: auto;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    
    
    #product-images-wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 15px;
    
    }
    
    #big-image {
        display: flex;
        width: 100%;
        height: 350px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* flex-shrink: 0; */
        border-radius: 20px;
        cursor: zoom-in;
        img{
            width: 300px;
    height: 295px;
        }
    }
    #small-images{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 10px;
        height: 100%;
        #image-container{
            width: 80px;
            height:80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            cursor: pointer;
            height: 80px;
            width: 80px;
            opacity: 0.5;
        }
    
        img:hover{
            cursor: pointer;
    
            height: 80px;
            width: 80px;
            opacity: 1;
        }
    }
    
    
    #product-data-wrapper{
        height: 100%;
        width: 100%;
    }
    
    #product-title{
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 1.92px;
    }
    #product-text{
        color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 257.143% */
    letter-spacing: 0.42px;
    }
    #product-desc{
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.72px;
    }
    
    .normal{
        color: black;
        opacity: 0.25;
        border-radius: 2px;
    }
    
    .checked{
        color: #F58634;
    }
    
    
    #sub-title{
        
        color:#000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
        opacity: 0.7;
    }
    
    #product-row{
        display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    }
    
    
    .price{
        color:#000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
    }
    
    .discounted-price{
        color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.48px;
    text-decoration:line-through;
    }
    
    #counter{
        border: 1px solid #000000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;
        width: 157px;
    height: 44px;
    border-radius: 4px;
    i{
        font-size: 26px;
        cursor: pointer;
    }
    }
    
    .small-btn{
        display: flex;
    width: 100px;
    border: none;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    border-radius: 4px;
    background: #F58634;
    }
    .tabbar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        padding: 20px;
    }
    
    .detail-row{
        width: 100%;
        height: auto;
    }
    
    .list-item{
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 50px;
    }
    
    .list-item-spec{
        color: #000;
        font-size: 16px;
        font-style: normal;
        /* font-weight: 300; */
        /* line-height: 23px; */
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        width: 100%;
        gap: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .tabbar p{
        cursor: pointer;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .tabbar p:active{
        color: #F58634;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        /* letter-spacing: 4.68px; */
        border-bottom: 1px solid #F58634;
    }
     
        #hover{
            display: none; align-items: center; gap:10px;
        }
    .tabbar p.active{
        color: #F58634;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        /* letter-spacing: 4.68px; */
        border-bottom: 1px solid #F58634;
    }

    .add-to-order-wrapper{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    
    .add-to-order-wrapper i{
        font-size: 60px;
    }
    .card{
        position: relative;
        width: 366px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    }
    
    .card .heart{
       
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 44px;
            color: red;
        
    }
    
    .card-title{
        color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    }
    
    .card img{
        height: 250px;
        width: auto;
    }
    
    .price-wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .price{
        color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:line-through;
    }
    
    .discount-price{
        color: #F58634;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    
    .card-order-summary{
        position: relative;
        width: 366px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    
    }
    .order-price{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .order-pricing{
        width: 100%;
        height: 30px;
      display: flex;
      justify-content: space-between;
    }
    .amount{
        color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }

    .recommended-div{
        padding: 20px;
        display: flex;
        width: 100%;
        
        flex-direction: row;
        gap: 20px;
        overflow-x: auto;
    
    }
}