@media only screen and (min-width: 1200px) {
  #shopping-cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .shopping-cart-main {
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #fff;
    width: 78%;
    height: auto;
    display: flex;
  }

  .product-details-container {
    width: 100%;
    margin-right: 18px;
  }

  .product-summary-container {
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    background: rgba(1, 1, 1, 0.03);
  }

  .top-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .product-table {
    padding: 10px 30px;
  }

  #product-item-cart {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 200px;
  }

  .product-image {
    height: auto;
    width: 70px;
  }

  .product-title {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    width: 210px;
  }

  .remove-button {
    color: rgba(255, 0, 0, 0.5);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    cursor: pointer;
  }

  #counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    width: 90px;
  }

  .w3-table > td {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }

  .th {
    color: #393737;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }

  .price-table {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
  }

  .total-table {
    color: #f58634;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 160% */
  }

  .mobile-shopping-cart {
    display: none;
  }
}

@media only screen and (max-width: 1370px) {
  #shopping-cart-container {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
  }

  .mobile-shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .cart-details-card {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .cart-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f58634;
    margin-bottom: 10px;
  }
  .header {
    color: #2e2e2e;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 75% */
  }

  .header.active {
    color: #f58634;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 85.714% */
  }

  .product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

  .product {
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .product-image {
    height: auto;
    width: 150px;

    img {
      height: 100px;
      width: auto;
    }
  }

  .product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 10px;
    margin-left: 20px;

    p{
        margin: 0;
    }
  }


  #counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    width: 90px;
  }

  .order-summary-div{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
  }
}
